@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');


header{
  height: 100px;
  margin: auto;
  width: 100%;
 display: block;
}

nav{
    display: flex;
    height: 30px;
    
}
nav.logo{
    margin-left:327px;
    margin-top: 20px;
}

nav.category{
    margin-left: 30px;
    margin-top: 10px;
}

nav.search__input {
  width: 33.5%;
  margin-top: 10px;
  padding: 3px 10px;
  margin-left: 25px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  line-height: 18px;
  color: #565757;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 12px;
  border: 0 solid #000000;  
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-sizing: border-box;
  display: flex;
  height: 40px;
}

input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px; 
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  box-shadow:#cecece;
 
}

input[type="text"]::placeholder {
  color: #888;
}


 nav.language{
    margin-left: 30px;
    margin-top: 10px;
   
 }

.img2{
  margin-top: 10px;
}

 nav.shopping-cart{
    margin-left: 30px;
    margin-top: 10px;
    padding: 5;
 }

 nav.loggin{
    margin-left: 30px;
    margin-top: 10px;
    
 }
 nav.TNET{
    margin-left: 30px;
    margin-top: 10px;
    
 }


.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,rgb(34 34 34/var(--tw-text-opacity,1)) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 6px 15px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
  0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
  0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;

}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
  
  
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
  
  
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
  
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

