@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');


/*---------------------header starts -------------------------*/


header {
  height: 100px;
  margin: auto;
  width: 100%;
  display: block;
  max-width: 1240px;
}

nav {
  display: flex;
  height: 30px;
}

nav.logo {
  margin-top: 20px;
}

nav.category {
  margin-left: 30px;
  margin-top: 10px;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
nav.search__input {
  width: 53.5%;
  margin-top: 10px;
  padding: 3px 10px;
  margin-left: 25px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  line-height: 18px;
  color: #565757;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 12px;
  border: 0 solid #000000;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.25);

}

input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

input[type="text"]::placeholder {
  color: #888;
}

nav.language {
  margin-left: 30px;
  margin-top: 14px;
}

.img2 {
  margin-top: 7px;
}

nav.shopping-cart {
  margin-left: 10px;
  margin-top: 16px;

}

.img3 {
  padding: 4px;
}

button {
  font-size: 16px;
  position: relative;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
}

.button15 {
  max-width: 320px;
  display: flex;
  padding: 15px 10px;
  line-height: 1.25rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin-top: 12px;
  margin-left: 22px;
  height: 40px;
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
}
nav.TNET {
  margin-left: 20px;
  margin-top: 15px;
}
.img5{
  width: 24px ;
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border-radius: 12px;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  list-style: none;
  padding: 6px 15px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 40px;

}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}



/*---------------------header ends -------------------------*/

/*---------------------section starts----------------------*/


.archevani {
 display: flex;
 max-width: 1240px; 
  margin-left: auto;
  margin-right:auto;
  justify-content: space-between;
}

p.kino{
 margin: auto;
}

p.dasveneba{
  margin: auto;

}

p.gartoba{
  margin: auto;

}

p.kveba{
  margin: auto;

}

p.sabavshvo{
  margin: auto;

}

p.sporti{
  margin: auto;

}

p.estetika{
  margin: auto;

}

p.jandacva{
  margin: auto;

}

p.kurcebi{
  margin: auto;

}

p.cxovelebi{
  margin: auto;
}


a.archevani2{
  text-align: center;
  text-decoration: none;

  
}
.img-kino{
  width: 24px;
  height: 24px;
}

.img-dasveneba{
  width: 24px;
  height: 24px;
}

.img-gartoba{
  width: 24px;
  height: 24px;
}

.img-kveba{
  width: 24px;
  height: 24px;
}

.img-sabavshvo{
  width: 24px;
  height: 24px;
}

.img-sporti{
  width: 24px;
  height: 24px;
}

.img-estetika{
  width: 24px;
  height: 24px;
}

.img-jandacva{
  width: 24px;
  height: 24px;
}

.img-kurcebi{
  width: 24px;
  height: 24px;
}

.img-cxovelebi{
  width: 24px;
  height: 24px;
}

div.archevani{
  text-decoration: none;
}

a.archevani1{
  text-decoration: none;
}

/*--------------------------section ends -----------------------------------*/

/*--------------------------sidebar starts -----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');



.wrapper {
  display: flex;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  gap: 2.75rem;
}

.wrapper .sidebar {
  width: 338px;
  padding: 30px 0px;
  height: 100vh; 
  background-color: #f4f4f4; 
  box-sizing: border-box; 
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.collapsible {
  color: rgb(34 34 34 / var(--tw-text-opacity,1));
  font-weight: 900;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  padding: 10px;
   font-family: TBCXRegular,sans-serif;

}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 



label {
  color: rgb(100 100 100 / var(--tw-text-opacity, 1));
  font-size: 16px;
  font-family: TBCXRegular,sans-serif;
  font-weight: 500;

}

img.arrow {
  
  float: right;
  transition: transform 0.5s ease;
}

img.arrow:hover{
  transform: rotate(180deg);
}

.wrapper .photos {
  flex-grow: 1; 
  padding: 20px;
  background-color: #fff; 
}


#html {
    accent-color: green;
    border-color: rgb(221 221 221 / var(--tw-border-opacity, 1));
    border-radius: .25rem;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    appearance: none;
    opacity: 0; /* Invisible when not checked */
    transition: opacity 0.3s ease; /* Smooth transition */
  }
  
  /* Show checkbox when checked */
  #html:checked {
    opacity: 1; /* Visible when checked */
  }
  
  /* Optional custom checkmark when checked */
  #html:checked::after {
    content: "✔";
    color: green;
    font-weight: bold;
  }


div.sidebar-choose{
  margin-bottom: 15px;
}

/*--------------------------sidebar ends -----------------------------------*/

/*--------------------------gallery starts -----------------------------------*/
.gallery{
  width: 100%;
}


div.h1-p{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.mtavari-p{
  color: rgb(100 100 100/var(--tw-text-opacity,1));
  font-size: 13px;
}
.mtavari-p1{
  font-size: 13px;
  margin-left: 10px;
}
.mtavari-p2{
  color: rgb(100 100 100/var(--tw-text-opacity,1)) ;
  margin-left: 10px;
  
}
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #463f4d, #44414b);
  color: ghostwhite;
  overflow: hidden;
  height: 30px;
}



.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #141212;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

img.imgs{
  width: 300px;
  height: 220px;
  border-radius: 10px;
}


.kino-p1{
 margin: 0;
 font-size: 15px;
 font-weight: 500;
 font-family: TBCXRegular,sans-serif;
}
.kino-p2{
 margin: 0;
 font-size: 15px;
 color: rgb(144 144 144/var(--tw-text-opacity,1));
 font-family: TBCXRegular,sans-serif;
}


div.photos{
  display: flex;
  justify-content: space-between;
  margin-top:15px ;
}

.title3{
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -15px;
}

s.sale{
  color: rgb(100 100 100 / var(--tw-text-opacity, 1));
  font-size: 14px;
}

strong.discount{
  margin-left: 15px;
    --tw-text-opacity: 1;
    font-family: TBCXRegular, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    color: white;
    padding: 4px 5px;
    background-color: rgb(230 100 100 / var(--tw-bg-opacity, 1));
}

label.label-1{
  color: black;
  font-size: 22px;
  font-weight: 600;
  font-family: TBCXRegular, sans-serif;
}

label.label-2{
  color: rgb(34 34 34/var(--tw-text-opacity,1));
  font-family: TBCXRegular, sans-serif;
  font-size: 16px;
}

/*--------------------------gallery ends -----------------------------------*/

/*------------------------footer starts-------------------------*/
.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  max-width: 1240px;
  width: 95%;
  margin-bottom: 80px;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  
}
div.links1{
  margin-right:20px ;
  }
div.links2{
margin-left:20px ;
}
h4{
  font-weight: 700;
  font-size: 16px;
  font-family: sans-serif  ;
}

a.footer{
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
.footer1{
  margin: auto;
}

div.shua{
  display: flex;
}
p.footer3{font-size: 18px;font-weight: 800;}

p.footer1{
color: rgb(100 100 100/var(--tw-text-opacity,1));}

div.footer{
max-width: 1240px;
}

p.footer-rules{
  text-decoration: none;
  color: #000000;
  color: rgb(100 100 100/var(--tw-text-opacity,1));
}
.footer-link{
  display: flex;
 
}
a.footerules{
  margin-left:10px;
  font-size: 14px;
}


img.footer-img2{
  margin-left: 30px;
}
img.footer-img3{
  margin-left: 30px;
}

img.img-list1{
margin-left: 5px;
}

/*------------------------footer ends-------------------------*/

